<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
</head>
<body>

<p th:text=${mykey}></p>
<div id="main"></div>

<script th:inline="javascript">

function ping(ip, callback) {

    if (!this.inUse) {
        this.status = 'unchecked';
        this.inUse = true;
        this.callback = callback;
        this.ip = ip;
        var _that = this;
        this.img = new Image();
        this.img.onload = function () {
            _that.inUse = false;
            _that.callback('responded');

        };
        this.img.onerror = function (e) {
            if (_that.inUse) {
                _that.inUse = false;
                _that.callback('responded', e);
            }

        };
        this.start = new Date().getTime();
        this.img.src = "http://" + ip;
        this.timer = setTimeout(function () {
            if (_that.inUse) {
                _that.inUse = false;
                _that.callback('timeout');
            }
        }, 1500);
    }
}
var PingModel = function (servers) {
    var self = this;
    var myServers = [];
    ko.utils.arrayForEach(servers, function (location) {
        myServers.push({
            name: location,
            status: ko.observable('unchecked')
        });
    });
    self.servers = ko.observableArray(myServers);
    ko.utils.arrayForEach(self.servers(), function (s) {
        s.status('checking');
        new ping(s.name, function (status, e) {
            s.status(status);
        });
    });
};


/*<![CDATA[*/
  var myval = /*[[${mykey}]]*/ "Test";
  var listVals = /*[[${myList}]]*/ "Test1";
/*]]>*/



 var mainDiv = document.getElementById("main");
 for(i=0; i<listVals.length; i++){
	 //create text node
	 var t = document.createTextNode(listVals[i].name+' '+listVals[i].age);
	 //create para node
	 
	 if(listVals[i].name == "kamyla"){
		 	alert("você ACERTOU!");
	  }else{
	  	
	  		alert("você ERROU!!!");
		 }
	 
	 var idades = (listVals[i].age + 2);
	 
	 var idadeSoma = document.createTextNode(listVals[i].name+' '+idades);
		 
		 
	 var p = document.createElement("P");
	 //attach text to para
	// p.appendChild(t);
	 p.appendChild(idadeSoma);
	 //attach para to div
	 mainDiv.appendChild(p);
 }
 

</script>
</body>
</html>