<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
</head>
<body>



<button onclick="minhaFunc()">Click me</button>

<h1 id="main"></h1>


<div id="box">teste</div>
<button id="yes" onclick="Choice(this);">yes</button>
<button id="no" onclick="Choice(this);">no</button>
<button id="other" onclick="Choice(this);">other</button>

<script th:inline="javascript">



/*<![CDATA[*/
  var myval = /*[[${mykey}]]*/ "Test";
  var listVals = /*[[${myList}]]*/ "Test1";
/*]]>*/



function minhaFunc(){
	 var mainDiv = document.getElementById("main");
	 
		 for(i=0; i<listVals.length; i++){
			 var t = document.createTextNode(listVals[i].name+' '+listVals[i].age);
			 
			   if(listVals[i].age == 52){
					 var idades = (listVals[i].age);
					 var idadeSoma = document.createTextNode(listVals[i].name+' '+idades+" parabéns gostosao");
					 
			  }else{
				  var idades = (listVals[i].age);
				  idadeSoma = document.createTextNode(listVals[i].name+' '+idades);
				 }	 
				 
			 var p = document.createElement("P");
			 p.appendChild(idadeSoma);
			 mainDiv.appendChild(p);
			 
		 }
		 		 
		 var mensagem = document.getElementById("demo").innerHTML = "teste de dados";

		 
}


function Choice(elem) {
	   var box = document.getElementById("box");
	   if (elem.id == "no") {
	     box.style.backgroundColor = "red";
	   
	   } else if (elem.id == "yes") {
	     box.style.backgroundColor = "green";
	   
	   } else {
	     box.style.backgroundColor = "purple";
	     
	   };
	   
	 };



</script>
</body>
</html>